{% extends 'base.html.twig' %}

{% block title %}Job Offer{% endblock %}

{% block body %}
    <h1>Job Offer</h1>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                
            </tr>
        </thead>
        <tbody>
        {% for job_sector in job_sectors %}
            <tr>
                <td>{{ job_sector.id }}</td>
                <td>{{ job_sector.name }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>JobTitle</th>
                <th>ClosingDate</th>
                <th>Salary</th>
                <th>Location</th>
                <th>Description</th>
                <th>Id</th>
                <th>Job Type</th>

                <th>Reference</th>
                <th>Activity</th>
                <th>Notes</th>
                <th>DateCreation</th>
                
            </tr>
        </thead>
        <tbody>
        {% for job_offer in job_offers %}
            <tr>
                <td>{{ job_offer.jobTitle }}</td>  
                <td>{{ job_offer.closingDate ? job_offer.closingDate|date('Y-m-d') : '' }}</td>
                <td>{{ job_offer.salary }}</td>
                <td>{{ job_offer.location }}</td>
                <td>{{ job_offer.description }}</td>
                <td>{{ job_offer.id }}</td>
                <td>{{ job_offer.jobType }}</td>
                
                <td>{{ job_offer.reference }}</td>
                <td>{{ job_offer.activity }}</td>
                <td>{{ job_offer.notes }}</td>
                <td>{{ job_offer.dateCreation ? job_offer.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}